@using lets_do_a_website.Data.Entities;
@model Tracker
@{
    var settings = ViewData["settings"] as UserSettings;
    var ways = Model.DeathWays!.Values.ToArray();
    var colBreaks2 = new List<int> { 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43};
    var colBreaks = new List<int> { 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44};

}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>


<table>
    <tr>
        <td colspan="2">
            <span id="score-panel" class="position-relative d-inline-block" style="background:url(/img/50wtd/obg.png); width:160px; height:80px;top:1px">
                <span id="profile-pic" class="position-absolute" style="left:12px; top:10px">
                @if("none".Equals(settings.ProfileImage))
                {
                    <img class="rounded-circle shadow-lg" src="~/img/twag.png" width="60">
                } 
                else
                {
                    <img class="rounded-circle shadow-lg" src="@settings.ProfileImage" width="60">

                }
                </span>
                <span id="CountBox-@(settings.Name)" class="position-absolute" style="font-size:50px;left:90px; top:1px">00</span>
            </span>
        </td>

            @for (var i =0; i<ways.Length; i++) {

                if (colBreaks.Contains(i))
                {
                    @:</tr><tr>
                } else if(colBreaks2.Contains(i)) {
                    @:<td colspan="22"></td>
                }
                
                var d = ways[i];

     @:<td style="padding: 3px 2px 3px 2px;">

         if (settings.OverlayOnDeath == 1) //disappear on death
            {
                var visibility = d.Active ? "visibility:visible" : "visibility:hidden";
                <img id="img-@d.Id" src="~/img/50wtd/@(d.Id).png" style="width:76px;@visibility" />
            } 
            else if (settings.OverlayOnDeath == 2) // gray on death
            {
                    var gray = d.Active ? 0 : 100;
                    var gray2 = d.Active ? 100 : 65;
                    <img id="img-@d.Id" src="~/img/50wtd/@(d.Id).png" style="width:76px;filter:grayscale(@gray) brightness(@(gray2)%)" />

            }
            else if (settings.OverlayOnDeath == 3) // X on death
            {
                var hidden = d.Active ? "visibility:hidden" : "";
                <div class="col d-flex flex-grow-0 flex-shrink-0">
                    <span class="position-absolute">
                        <img id="noimg-@d.Id" src="~/img/50wtd/no.png" style="width:76px;@hidden" />
                    </span> 
                    <img id="img-@d.Id" src="~/img/50wtd/@(d.Id).png" style="width:76px" />
                </div>
            }
                @:</td>

            }
                  
            
            <td colspan="2">
            <span id="score-panel2" class="position-relative d-inline-block" style="background:url(/img/50wtd/obg.png); width:160px; height:80px;top:3px">
                <span id="profile-pic2" class="position-absolute" style="left:12px; top:10px">
                @if("none".Equals(settings.ProfileImage))
                {
                    <img class="rounded-circle shadow-lg" src="~/img/twag.png" width="60">
                } 
                else
                {
                    <img class="rounded-circle shadow-lg" src="@settings.ProfileImage" width="60">

                }
                </span>
                <span id="CountBox2-@(settings.Name)" class="position-absolute" style="font-size:50px;left:90px; top:1px">00</span>
            </span>
        </td>
    </tr>
</table>


    <div id="divvydivdiv" class="container-fluid" style="margin-left:0px;gap:15px;">
        <div id="rowyrowrow" class="row d-flex flex-row  g-0">

        


        

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">

        function initializeSignalRConnection(t) {
            var conn = new signalR.HubConnectionBuilder()
                .withUrl("/trackerhub?tracker=" + t)
                .withAutomaticReconnect()
                .build();

            try {
                conn.start();
            } catch (err) {
                console.log(err);
            }

            conn.onreconnecting((error) => {
                console.log("recon");
            });
            conn.onreconnected((error) => {
                console.log("ded");
            });

            return conn;
        }


        const conn = initializeSignalRConnection("@Model.Id");
        var deaths = @Model.DeathWays.Values.Where(x=> x.Active==false).Count();
        recalc("@Model.Id", deaths);


        conn.on("ReceiveNewDeath", ({ trackerId, deathId, deathCount }) => {
            
            
            @if (settings.OverlayOnDeath == 1) //disappear on death
            { 
                @:var i =document.getElementById("img-" + deathId);
                @:i.style = "width:76px;visibility:hidden";
            }
            else if (settings.OverlayOnDeath == 2) // gray on death
            {
                @:var i =document.getElementById("img-" + deathId);
                @:i.style = "width:76px;filter:grayscale(100) brightness(65%)";
            } 
            else if (settings.OverlayOnDeath == 3) // X on death
            {
               @:var i =document.getElementById("noimg-" + deathId);
               @:i.style = "width:76px";
            }


            deaths = deaths +1;
            recalc(trackerId, deaths);
        });


        conn.on("ReceiveUndo", ({ trackerId, deathId, deathCount }) => {


            @if (settings.OverlayOnDeath == 1) //disappear on death
            {
                @:var i =document.getElementById("img-" + deathId);
                @:i.style = "width:76px;visibility:visible";
            }
            else if (settings.OverlayOnDeath == 2) // gray on death
            {
                @:var i = document.getElementById("img-" + deathId);
                @:i.style = "width:76px;filter:grayscale(0) brightness(100%)";
            
            }
            else if (settings.OverlayOnDeath == 3) // X on death
            {
               @:var i =document.getElementById("noimg-" + deathId);
               @:i.style = "width:76px;visibility:hidden";
            }



            deaths = deaths -1;
            recalc(trackerId, deaths);
        });

        conn.on("ForceRefresh", () => {
            location.reload();
        });

        conn.on("CounterUpdate", ({trackerId, deathId, deathCount}) => {
            console.log("done hur" + trackerId + deathCount);
            recalc(trackerId, deathCount);
        });

        function recalc(trackerId, deathCount) {
            var dfiller="";
            if (deathCount < 10)
                dfiller = "0";

                
            if (deathCount < 0)
                location.reload();
                
            document.getElementById("CountBox-" + trackerId).innerText = "" + dfiller + deathCount;
            document.getElementById("CountBox2-" + trackerId).innerText = "" + dfiller + deathCount;
        }




</script>
</body>
</html>
