@using lets_do_a_website.Data.Entities;
@model Tracker
@{
    var settings = ViewData["settings"] as UserSettings;
    var match = ViewData["match"] as Match;

}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>


    <div id="divvydivdiv" class="container-fluid" style="margin-left:0px;gap:15px;">
        <div id="rowyrowrow" class="row d-flex flex-row  g-0">

            @if(settings.OverlayMatchScores ==1 && match is not null)
            {
                foreach(var entry in match.Entries)
                {
                    if (entry.Name.Equals(settings.Name))
                        continue;
                    if (entry.Status != 3)
                        continue;
                   <span id="score-panel" class="position-relative d-inline-block" style="background:url(/img/50wtd/obg.png); width:160px; height:80px;top:1px">
                       <span id="profile-pic" class="position-absolute" style="left:12px; top:10px">
                        @if("none".Equals(entry.ProfileImage))
                        {
                            <img class="rounded-circle shadow-lg" src="~/img/twag.png" width="60">
                        } 
                        else
                        {
                            <img class="rounded-circle shadow-lg" src="@entry.ProfileImage" width="60">

                        }
                        </span>
                        <span id="CountBox-@entry.Name" class="position-absolute" style="font-size:50px;left:90px; top:1px">00</span>
                    </span>


                }
            }

            <span id="score-panel" class="position-relative d-inline-block" style="background:url(/img/50wtd/obg.png); width:160px; height:80px;top:1px">
                <span id="profile-pic" class="position-absolute" style="left:12px; top:10px">
                @if("none".Equals(settings.ProfileImage))
                {
                    <img class="rounded-circle shadow-lg" src="~/img/twag.png" width="60">
                } 
                else
                {
                    <img class="rounded-circle shadow-lg" src="@settings.ProfileImage" width="60">

                }
                </span>
                <span id="CountBox-@settings.Name" class="position-absolute" style="font-size:50px;left:90px; top:1px">00</span>
            </span>

        
   
        @foreach (var d in Model.DeathWays!.Values)
        {

            

            if (settings.OverlayOnDeath == 1 && d.Active) //disappear on death
            {
                    <img id="img-@d.Id" src="~/img/50wtd/@(d.Id).png" style="padding:2px 0;width:80px" />
            } 
            else if (settings.OverlayOnDeath == 2) // gray on death
            {
                    var gray = d.Active ? 0 : 100;
                    var gray2 = d.Active ? 100 : 65;
                    <img id="img-@d.Id" src="~/img/50wtd/@(d.Id).png" style="padding:2px 0;width:80px;filter:grayscale(@gray) brightness(@(gray2)%)" />

            }
            else if (settings.OverlayOnDeath == 3) // X on death
            {
                var hidden = d.Active ? "visibility:hidden" : "";
                <div class="col d-flex flex-grow-0 flex-shrink-0">
                    <span class="position-absolute">
                        <img id="noimg-@d.Id" src="~/img/50wtd/no.png" style="padding:2px 0;@hidden" />
                    </span> 
                    <img id="img-@d.Id" src="~/img/50wtd/@(d.Id).png" style="padding:2px 0;" />
                </div>
            }
        }

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">

        function initializeSignalRConnection(t) {
            var conn = new signalR.HubConnectionBuilder()
                .withUrl("/trackerhub?tracker=" + t)
                .withAutomaticReconnect()
                .build();

            try {
                conn.start();
            } catch (err) {
                console.log(err);
            }

            conn.onreconnecting((error) => {
                console.log("recon");
            });
            conn.onreconnected((error) => {
                console.log("ded");
            });

            return conn;
        }


        const conn = initializeSignalRConnection("@Model.Id");
        var deaths = @Model.DeathWays.Values.Where(x=> x.Active==false).Count();
        recalc("@Model.Id", deaths);


        conn.on("ReceiveNewDeath", ({ trackerId, deathId, deathCount, forcedFrom }) => {
            
            
            @if (settings.OverlayOnDeath == 1) //disappear on death
            { 
                @:document.getElementById("img-" + deathId).remove();
            }
            else if (settings.OverlayOnDeath == 2) // gray on death
            {
                @:var i =document.getElementById("img-" + deathId);
                @:i.style = "padding:2px 0;width:80px;filter:grayscale(100) brightness(65%)";
            } 
            else if (settings.OverlayOnDeath == 3) // X on death
            {
               @:var i =document.getElementById("noimg-" + deathId);
               @:i.style = "padding:2px 0;";
            }


            deaths = deaths +1;
            recalc(trackerId, deaths);
        });


        conn.on("ReceiveUndo", ({ trackerId, deathId, deathCount, forcedFrom }) => {


            @if (settings.OverlayOnDeath == 1) //disappear on death
            {
                @:var i = new Image();
                @:i.id="img-" + deathId;
                @:i.src = "/img/50wtd/" + deathId + ".png";
                @:i.style = "padding:2px 0;width:80px";
                @:document.getElementById("rowyrowrow").appendChild(i);
            }
            else if (settings.OverlayOnDeath == 2) // gray on death
            {
                @:var i = document.getElementById("img-" + deathId);
            @:i.style = "padding:2px 0;width:80px;filter:grayscale(0) brightness(100%)";
            
            }
            else if (settings.OverlayOnDeath == 3) // X on death
            {
               @:var i =document.getElementById("noimg-" + deathId);
               @:i.style = "padding:2px 0;visibility:hidden";
            }



            deaths = deaths -1;
            recalc(trackerId, deaths);
        });

        conn.on("ForceRefresh", () => {
            location.reload();
        });


        conn.on("CounterUpdate", ({ trackerId, deathId, deathCount, forcedFrom }) => {
            recalc(trackerId, deathCount);
        });

        function recalc(trackerId, deathCount) {
            var dfiller="";
            if (deathCount < 10)
                dfiller = "0";

            @*Dynamically add new match members here, or force refresh? Refresh is easier so lets do that & think about negative side effects*@
            @if(settings.OverlayMatchScores ==1 && match is not null)
            {
                @:if (document.getElementById("CountBox-" + trackerId) == null)
                    @:location.reload();    
            
            }

                
            if (deathCount < 0)
                location.reload();

            document.getElementById("CountBox-" + trackerId).innerText = "" + dfiller + deathCount;
        }




</script>
</body>
</html>
